<div class="sidenav-container">

  <div class="sidenav-item-logo" title="Plutus Logo">
    <span style="cursor: pointer;" class="header icon-logo"></span>
  </div>
  
  <div class="sidenav-item sidenav-item-active">
    <div>
      <span class="icon-home"></span>
      <span class="sidenav-item-text">Dashboard</span>
    </div>
  </div>

  <div class="sidenav-item">
    <div>
      <span class="icon-activity"></span>
      <span class="sidenav-item-text">Activity</span>
    </div>
  </div>

  <div class="sidenav-item">
    <div>
      <span class="icon-goal"></span>
      <span class="sidenav-item-text">Goals</span>
    </div>
  </div>

  <div class="sidenav-item">
    <div>
      <span class="icon-users"></span>
      <span class="sidenav-item-text" routerLink="/home/groups">Groups</span>
    </div>
  </div>
  
  <!-- <div class="sidenav-bottom">
    <div class="sidenav-userinfo"></div>
    <div class="sidenav-avatar"></div>
    <div class="grid">
      Sanjay Idpuganti
    </div>
  </div> -->
</div>
