<div class="conainer">
  <div class="right">
    <button mat-raised-button class="add-friend-button">
      <span class="material-icons"> add_circle </span>
      Add a Friend
    </button>
  </div>

  <div>
    <mat-card class="add-group-expense-form">
      <mat-card-header>
        <mat-card-title>
          <span class="material-icons"> payments </span>
          Share Expenses
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width">
          <mat-label>Shared With</mat-label>
          <input matInput />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Amount</mat-label>
          <input matInput placeholder="100$" />
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>
</div>
