.right {
  display: flex;
  justify-content: flex-end;
  /* margin-bottom: 1rem; */
}

.add-group-expense-form {
  min-width: 150px;
  max-width: 500px;
}

.full-width {
  width: 100%;
}

.container {
  height: 100%;

  margin: 20px 20px;
}
